USE [BankManagement]
GO
/****** Object:  Trigger [dbo].[TR_Employee_SetAdminFlag]    Script Date: 7/18/2026 12:10:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 6. Employee admin flag maintenance.
--
--    CanAccessAdmin is treated as manager-level privilege.
--    Only active Branch Manager / Vice Manager employees get it.
--
--    When a person is no longer manager-level, Admin role is
--    removed automatically. Users.IsActive is NOT changed here.
------------------------------------------------------------
ALTER   TRIGGER [dbo].[TR_Employee_SetAdminFlag]
ON [dbo].[Employee]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE E
        SET CanAccessAdmin =
            CASE
                WHEN E.EmpStatus = N'Active'
                 AND E.JobTitle IN (N'Branch Manager', N'Vice Manager')
                    THEN 1
                ELSE 0
            END
        FROM dbo.Employee AS E
        INNER JOIN inserted AS I
            ON I.EmployeeID = E.EmployeeID;

        DELETE UR
        FROM dbo.UserRoles AS UR
        INNER JOIN dbo.Roles AS R
            ON R.RoleID = UR.RoleID
        INNER JOIN dbo.Users AS U
            ON U.UserID = UR.UserID
        INNER JOIN dbo.Employee AS E
            ON E.EmployeeID = U.EmployeeID
        INNER JOIN inserted AS I
            ON I.EmployeeID = E.EmployeeID
        WHERE R.RoleName = N'Admin'
          AND
          (
              E.EmpStatus <> N'Active'
              OR E.CanAccessAdmin <> 1
              OR E.JobTitle NOT IN (N'Branch Manager', N'Vice Manager')
          );
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @Msg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @Severity INT = ERROR_SEVERITY();
        DECLARE @State INT = ERROR_STATE();
        RAISERROR(@Msg, @Severity, @State);
    END CATCH
END;
